<!-- START PAGE COVER -->

<div class="container-fluid padding-25 sm-padding-10 sm-gutter dashboard" ng-controller="NestedListsDemoController">
    <div class="row">
        <!-- Template for a normal DropZone -->
        <script type="text/ng-template" id="dropzone.html">
            <ul dnd-list="list">
                <li ng-repeat="item in list"
                    dnd-draggable="item"
                    dnd-effect-allowed="move"
                    dnd-moved="list.splice($index, 1)"
                    dnd-selected="models.selected = item"
                    ng-class="{selected: models.selected === item}"
                    ng-include="item.type + '.html'">
                </li>
            </ul>
        </script>

        <!-- Template for a normal open item -->
        <script type="text/ng-template" id="open.html">
            <div class="container-element box box-blue">
                <h3>
                    Open Issues
                </h3>
                <nvd3 options="widget_1_options" data="mergedData"></nvd3>
            </div>
        </script>

        <!-- Template for a normal resolved item -->
        <script type="text/ng-template" id="resolved.html">
            <div class="container-element box box-blue">
                <h3>
                    Resolved Issues
                </h3>
                <nvd3 options="widget_2_options" data="mergedData"></nvd3>
            </div>
        </script>

        <!-- Template for a normal Progress item -->
        <script type="text/ng-template" id="progress.html">
            <div class="container-element box box-blue">
                <h3>
                    In Progress Issues
                </h3>
                <nvd3 options="widget_3_options" data="mergedData"></nvd3>
            </div>
        </script>

        <!-- Main area with dropzones and source code -->
        <div class="col-md-12">
            <div class="row">
                <div ng-repeat="(zone, list) in models.dropzones" class="col-md-6">
                    <div class="dropzone box box-yellow">
                        <div ng-include="'dropzone.html'"></div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>