<!-- START PAGE COVER -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">Home</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" ng-controller="HomeCtrl as demo">
            <div style="margin-bottom: 20px">
                <div class="checkbox checkbox-inline check-success" ng-repeat="col in demo.cols">
                    <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show"
                           id="{{col.title()}}">
                    <label for="{{col.title()}}"> {{col.title()}}</label>
                </div>

            </div>

            <table ng-table="demo.tableParams"
                   class="table table-condensed table-bordered table-striped"
                   ng-table-columns-binding="demo.cols"
                   show-filter="true">
                <tr ng-repeat="row in $data">
                    <td title="'ID'" ng-if="true" filter="{ id: 'text'}" sortable="'id'">{{row.id}}</td>
                    <td title="'issuetype'" ng-if="true" filter="{ issuetype: 'text'}" sortable="'issuetype'">
                        {{row.issuetype}}
                    </td>
                    <td title="'components'" ng-if="true" filter="{ components: 'text'}" sortable="'components'">
                        {{row.components}}
                    </td>
                    <td title="'assignee'" ng-if="true" filter="{ assignee: 'text'}" sortable="'assignee'">
                        {{row.assignee}}
                    </td>
                    <td title="'priority'" ng-if="true" filter="{ priority: 'text'}" sortable="'priority'">
                        {{row.priority}}
                    </td>
                    <td title="'resolved'" ng-if="true" filter="{ resolved: 'number'}" sortable="'resolved'">
                        {{row.resolved}}
                    </td>
                    <td title="'inprogress'" ng-if="true" filter="{ inprogress: 'number'}" sortable="'inprogress'">
                        {{row.inprogress}}
                    </td>
                    <td title="'open'" ng-if="true" filter="{ open: 'number'}" sortable="'open'">{{row.open}}</td>
                    <td title="'closed'" ng-if="true" filter="{ closed: 'number'}" sortable="'closed'">{{row.closed}}
                    </td>
                </tr>
            </table>
        </div>


    </div>
</div>